@media (max-width: 1199px) {
    .container {
        width: 100%;
    }
    

}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .d-control{
        display: none;
    }
    .header {

        height: 569px!important;
        
    }
    .items__watch__content__text{
        font-size: 14px!important;
    }
    .div4 {
        visibility: none!important;
    }
    .mobile2{
        display: flex;
    }
    .mobile1{
        display: none!important;
    }
   
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .suitable__title{
        font-size: 45px!important;
    }
    .section-one__items{
        margin-bottom: 20px;
        max-width: 100%!important;
    }
    .items__watch__content__text{
        font-size: 22px!important;
    }
    
}
@media (max-width: 500px) {
    .container {
        width: 100%;
    }
    .form-header2{
        margin-left: 0!important;
    }
    .suitable__title{
        font-size: 35px!important;
    }
    .hide{
        display: block!important;
    }
    .show{
        display: none!important;
    }
    .colubm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0!important;
    }
    .about-us__slide{
        display: flex!important;
        justify-content: center!important;
    }
}

@media (max-width: 305px) {
    .container {
        width: 100%;
    }
    .suitable__title{
        font-size: 25px!important;
    }
    .items__watch__content__text{
        font-size: 18px!important;
    }

}

@media (max-width: 268px) {
    .container {
        width: 100%;
    }

}